.material {
    position: relative; /*set the position of the container to be relative because one or more of its children needs to be absolutely positioned.*/
    margin: 1.2em 0; /*adds a top/bottom margin*/
}

.mInput label {
    position: absolute; /*set position to absolute for z-index to work and to position label on top of input (before transform)*/
    z-index: 1; /*set label's z-index to 1 and set input's z-index to 2 label does not blocks the input*/
    bottom: 100%; /*place label on top of the input*/
    left: 0;

    /*
    transform the label and move it 28 px towards bottom so that the label (originally placed on top of the input) now appears to be positioned
    as if its placeholder. in browsers where transform does not work, the label remains on top of the input.
    */
    -webkit-transform: translate3d(0, 28px, 0) scale(1);
    transform: translate3d(0, 28px, 0) scale(1);

    transition: transform 0.4s, color 0.4s;
    -webkit-transform-origin: left top;
    transform-origin: left top;

    max-width: 100%;
    margin: 0; /*remove default styling added by browser*/

    /*font related.*/
    color: #9E9E9E; /*simulate placeholder and hence gray*/
    font-weight: normal;
    font-size: 1.2em;
}

.mInput label.focus {
    color: #006600;
}

.mInput label.focus, .mInput label.hasValue{
    /*
    transform into the look of normal label from the look of placeholder, if transform does not work, the label remains on top of the input,
    rather than staying at the placeholder position.
    */
    -webkit-transform: translate3d(0, 6px, 0) scale(.75);
    transform: translate3d(0, 6px, 0) scale(.75);
}

.mInput label.focus.error, .mInput label.hasValue.error {
    color: #dd2c00;
}

.mInput input {
    position: relative; /*set position to relative so that z-index can work*/
    z-index: 2; /*make sure that input is not blocked by label*/

    width: 100%;
    padding: 0.15em 0;
    background: transparent;
    outline: none;
    border: none;

    border-bottom: 1px solid #9E9E9E;

    /*font related;*/
    font-weight: normal;
    font-size: 1.2em;
}

.mInput input:focus {
    border-color: #77aa43;
}

.roundButton .positionRef {
    position: relative;
    width: 30px;
    height: 30px;
}

.roundButton .positionRef .button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: white;
    background: #006600;
    box-shadow: 0 0 0 1px lightgray;
    transition: box-shadow 0.2s, transform 0.2s; /*for box shadow transition when hovered*/
}

.roundButton .positionRef .button:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 1px darkgray;
}

.roundButton .positionRef .button.rotate {
    transform: rotate(45deg);
}

.roundButton .positionRef .ripple {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.5s;
    background: lightgray;
    opacity: 0.7;
    transform: scale(0.9, 0.9);
}

.roundButton .positionRef .ripple.mousedown {
    opacity: 0.9;
    transform: scale(1.5, 1.5);
}

.roundButton .positionRef .ripple.mouseup {
    opacity: 0;
    transform: scale(1.7, 1.7);
}

.optionsSection {
    position: relative;
}

.optionsSection .roundButton {
    position: absolute;
}

.optionsSection .optionsButton {
    z-index: 2;
}

.optionsSection .actionButton {
    z-index: 1;
    transition: transform 0.5s;
}

.optionsSection.expand .editButton {
    transform: translateY(3em);
}

.optionsSection.expand .imageButton {
    transform: translateY(6em);
}

.optionsSection.expand .paintButton {
    transform: translateY(9em);
}

.optionsSection.expand .trashButton {
    transform: translateY(12em);
}




