body {
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display:none;
}

div, button {
    outline: none !important;
}

button {
    background: none;
    border: none;
    color: #2196F3;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #EAEAEA;
    cursor: pointer;
}

#appLogo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: white;
    text-align: center;
}

#header {
    position: fixed;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 2px 5px 0px darkgray;
    background-color: white;
    z-index: 2;
}

#headerLeft, #headerRight {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    line-height: 40px;
}

#headerLeft {
    padding-left: 5px;
}

#headerLeft input {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #2196F3;
    color: #2196F3;
    margin-right: 10px;
}

#headerRight {
    padding-right: 5px;
    right: 0;
    text-align: right;
}

#body {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 20px;
    overflow: auto;
}

#body.whenPreview {
    right: 50%;
}

#preview {
    position: fixed;
    top: 40px;
    left: 50%;
    right: 0;
    bottom: 20px;
    overflow: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    left: 0;
    right: 0;
    border-top: 1px solid lightgray;
}

#autoCompletionList {
    position: fixed;
    left: 5px;
    top: 40px;
    min-width: 200px;
    z-index: 2;
    box-shadow: 1px 2px 5px 0 darkgray;
}

#autoCompletionList .item {
    background: white;
    padding: 8px 10px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#autoCompletionList .item.selected {
    background: #2196F3;
    color: white;
    border-color: #2196F3;
}

#searchCriteria {
    position: fixed;
    bottom: 45px;
    left: 5px;
    font-size: 0.8em;
    white-space: nowrap;
}

#searchCriteria span {
    display: block;
    background: #2196F3;
    padding: 0.3em 0.5em;
    position: absolute;
    transition: transform 0.5s;
    color: white;
}

#searchCriteria span:hover {
    background: #1C78C1;
    cursor: pointer;
}

.codeEditorContainer {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    bottom: 5px;
    line-height: 1.5em;
}

.codeEditorContainer input.titleInput {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 5px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
}

.codeEditor {
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    white-space: pre-wrap;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}

.codeEditorDropGround {
    position: absolute;
    z-index: 1;
    background: lightblue;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}

.codeEditorDropGround.active {
    background: lightgray;
}

.noteViewer {
    white-space: pre-wrap;
    margin: 20px auto;
    width: 90%;
    line-height: 1.5em;
}

.noteViewer h3 {
    margin: 0
}

.noteViewer .title {
    font-size: 30px;
    font-weight: 300;
    margin: 40px 0 20px 0;
}

.noteViewer .important, .noteViewer .java, .noteViewer .js, .noteViewer .less {
    padding: 15px;
    color: #264c72;
    font-size: 14px;
}

.noteViewer .important {
    border: 1px solid #97c1da;
    background-color: #d8ebf8;
}

.noteViewer .less {
    border: 1px solid #A3A7A8;
    background-color: #EEEEEE;
}

.noteViewer .java, .noteViewer .js {
    border: 1px solid #E8C5AD;
    border-left-width: 5px;
    background-color: #FFF5EE;
}

.noteViewer .inlineCode {
    border: 1px solid #E8C5AD;
    background-color: #FFF5EE;
    color: #264c72;
    padding: 2px 5px;
    font-size: 14px;
}

.noteViewer .emphasis {
    color: #2196F3;
}

.noteViewer .italic {
    font-style: italic;
    color: #924545;
}

.noteViewer .tag {
    background: #2196F3;
    color: white;
    padding: 2px 5px;
}

.noteViewer .inlineRef {
    color: #2196F3;
}

.noteViewer .inlineRef:hover {
    cursor: pointer;
}

.noteViewer .codeKeyword {
    color: cornflowerblue;
}

.noteViewer .codeSpecialSymbol {
    color: darkgray;
}

.noteViewer .codeFunctionName {
    color: red;
}

.noteViewer .codeString {
    color: green;
}

.noteViewer .codeComment {
    color: #9C7050;
}

.noteViewer .refNo {
    color: darkgray;
    margin-bottom: 10px;
}

.searchResultList {
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.searchResultList .searchSummary{
    text-align: right;
    color: lightgray;
    font-size: 14px;
    margin: 10px 0
}

.searchResultList .notePreview {
    margin: 10px 0 20px 0;
}

.searchResultList .notePreview:hover {
    cursor: pointer;
}

.searchResultList .notePreview .title {
    margin-bottom: 5px;
    font-size: 20px;
}

.searchResultList .notePreview:hover .title {
    text-decoration: underline;
}

.searchResultList .notePreview .keyWord {
    color: #2196F3;
    font-weight: bold;
}

.searchResultList .notePreview .rankingDetail {
    color: darkgray;
    font-size: 14px;
}

#closePreviewButtonContainer {
    position: fixed;
    background: white;
    right: 5px;
    top: 45px;
}

#closePreviewButtonContainer button {
    font-size: 12px;
}